<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Batwara</title>
</head>
<body style="background-color:white;">
<font color="red" size="+4">Hello user now Manage and split the expenses</font><br><br>
<style>button{
            color:red;
            font-size:20px;
    }
        </style>

<button onclick="window.location.href='http://localhost:8080/category';" color ="blue" style="margin-right:10px;
font-size: 16px;color: blue;
  padding: 15px 32px;
  text-align: center;border-radius: 8px;">Manage Your Expenses -></button>
</body>
</html>